*{
margin: 0;
padding : 0;
box-sizing: border-box;
}
@font-face {
    font-family: slogan;
    src: url(fontawesome/font/MeriendaOne-Regular.ttf);
}
button:hover{
    height: 2.5vw;
    color: #ec4899;
    transform: scale(1.2);
    border: 2px solid rgba(99, 102, 241, 0.3);
}
.developpement:hover{
    color: #ec4899;
    transform: scale(1.1);
    border: 2px solid rgba(99, 102, 241, 0.3);
}
.mes-service:hover{
    color: #ec4899;
    transform: scale(1.15);
    border: 2px solid rgba(99, 102, 241, 0.3);
}
svg:hover{
    color: #ec4899;
    transform: scale(1.2);
    border: 2px solid rgba(99, 102, 241, 0.3);
}
.competent{
    transition: 1s;
}
.competent:hover{
    transform: scale(2);
}
:root {
    --bg: #ffffff;
    --bg1: white;
    --bg2: rgba(226, 218, 218, 0.867);
    --bg3: white;
    --text: black;
    --texta: rgba(198, 195, 195, 0.867);
    --text1: #dad8d8;
    --texte: #ec4899;
    --texte1: rgb(228, 9, 82);
    --bgtg: rgba(198, 195, 195, 0.867);
    --textetg: rgb(228, 214, 19);
    --shadow-xl: 0 20px 25px rgba(0, 0, 0, 0.15);
    --transition: all 0.3s ease;
    --transition-fast: all 0.15s ease;
    
}
body.dark{
    --bg: black;
    --bg1:  rgba(54, 54, 54, 0.867);
    --bg2: rgb(30, 30, 30);
    --bg3: #021716fc;
    --text: #dad8d8;
    --texta: #dad8d8;
    --text1: black;
    --texte: rgb(228, 9, 82);
    --text1: #ec4899;
    --bgtg: #393a3b;
    --textetg: #e2e8f0;
    --primary-color: #e2e8f0;
    color: #e2e8f0 #0f172a;
    --light-bg: var(--dark-bg);
    --light-card: var(--dark-card);
    --light-border: var(--dark-border);
    --text-dark: #e2e8f0;
    --text-lighter: #94a3b8;
    --text-light: #cbd5e1;
    --text-muted: #94a3b8;
}
.theme-toggle {
  color: var(--text);
  background: var(--bg2);
  box-shadow: 0 2px 8px rgba(69, 70, 70, 0.3);
  border-radius: 5vw;
  width: 7.5vw;
  height: 2.5vw;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: .5vw .5vw .5vw .2vw;
}
.theme-toggle span {
  transition: transform 0.3s;
  background: var(--bgtg);
  border-radius: 50%;
  height: 2.3vw;
  color: var(--textetg);
  width: 2.3vw;
  font-size: 1.5vw;
}
.theme-toggle span i{
  margin: .5vw .4vw .5vw .4vw;
}
.theme-toggle.dark span {
  transform: translateX(4.1vw);
}
body{
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding: .5vw;
    background: var(--bg);
    transition:  0.5s;
    user-select: none;
}
.profile{
    width: 49%;
    height: 92vw;
    background: var(--bg1);
    background-position: top,center left,center right,bottom;
    background-repeat: no-repeat;
    background-size: 60% 5% 20% 5%;
    transition: var(--transition-fast);
    border-radius: 1vw;
    color: white;
    border: 1px  solid gray;
    box-shadow: inset 0px 0px 7px #666d;
    overflow: hidden;
}
.logo{
    gap: 30vw;
    position: relative;
    display: flex;
    align-items: center;
    padding: 1vw;
}
.layer-group{
    width: 1.5vw;
    height: 1.5vw;
    background: none;
}
.Portfolio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 9.5vw;
    height: 2.2vw;
    border: none;
    border-radius: .5vw;
    font-size: 1.3vw;
    background-color: var(--bg2);
    color: var(--text);
    transition: var(--transition-fast);
}
.my-pictire{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    display: block;
    margin: 12vw auto 2vw auto;
}
h1{
    font-size: 2.5vw;
    text-align: center;
    color: var(--text);
    transition: var(--transition-fast);
}
.introduction{
    width: 80%;
    margin: 2vw auto 4vw auto;
    font-size: 1.5vw;
    text-align-last: center;
    color: var(--text);
    transition: var(--transition-fast);
}
.fa-laravel{
    color: var(--texte);
    transition: var(--transition-fast);
}
.postman{
    color: var(--texte);
    transition: var(--transition-fast);
}
.a-propos{
    margin-left: 1vw;
    width: 95%;
    gap: 2.5vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.projet{
    gap: -.5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 4vw 0 0 0;
}
.boite1{
    width: 32%;
    height: 27vw;
    border-radius: .5vw;
    border: 1px solid var(--bgtg);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.boite2{
    width: 32%;
    height: 27vw;
    border-radius: .5vw;
    border: 1px solid var(--bgtg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}
.verslien2{
    display: block;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: 5s;
    transform: rotateX(180deg);
}
.boite2:hover .verslien2 {
    gap: -2vw;
    display: flex;
  transform: rotateX(0);
}
.boite2:hover .box2 {
  transform: rotateX(-180deg);
}
.boite3{
    width: 32%;
    height: 27vw;
    border-radius: .5vw;
    border: 1px solid var(--bgtg);
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 1s;
}
.logo_projet{
    background-image: url(Image/black.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
}
.logo_projet1{
    background-image: url(Image/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
}
.logo_projet2{
    background-image: url(Image/a.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
}
.verslien1{
    display: none;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vw;
    transition: all 7s;
    transform: translateX(180%);
}
.boite1:hover .verslien1 {
    gap: 3vw;
    display: flex;
  transform: translateX(0);
}
.boite1:hover .box1 {
  transform: translateX(-122%);
}
.box1{
    background: url(preuve/Makipay.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -1vw;
    margin-top: 1.5vw;
    border-radius: .5vw;
    width: 75.5%;
    height: 23vw;
    transform: rotate(9deg);
    transition: 1s;
}
.calque{
    position: absolute;
    width: 3vw;
    height: 32vw;
    margin-top: .3vw;
    left: 1vw;
    z-index: 1;
    display: none;
}
.dark .calque{
    display: block;
}
.calque1{
    display: block;
    position: absolute;
    width: 3vw;
    height: 32vw;
    margin-top: 1vw;
    right: 50.5%;
    display: none;
}
.dark .calque1{
    display: block;
}
.botom{
    margin-left: -15vw;
    margin-top: -40vw;
    width: 250%;
    height: 90vw;
}
.projet-img{
    width: 99%;
    height: 90%;
    object-fit: initial;
    display: block;
}
.box2{
    background:url(preuve/Moneyclaire\ \(2\).png);
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid var(--bgtg);
    border-radius: 2.2vw;
    width: 100%;
    height: 26vw;
    margin-top: .5vw;
    position: absolute;
    backface-visibility: hidden;
    transition: 5s;
}
.box3{
    background:url(preuve/voyage.png);
    background-position: center;
    border: 1px solid var(--bgtg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .5vw;
    width: 97%;
    height: 26vw;
    transform: translateX(0);
    transition: 5s;
}
.verslien3{
    display: none;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vw;
    transform: translateX(175%);
}
.boite3:hover .verslien3 {
    transition: 3s;
    gap: 1vw;
    display: flex;
  transform: translateX(0);
}
.boite3:hover .box3 {
  transform: translateX(112vw);
}
.name{
    text-decoration: none;
    color: var(--text);
}
.marche{
    gap: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vw 0 0 0;
    color: var(--bg-color);
    transition: var(--transition-fast);
}
.next{
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
    border: none;
    padding: auto 0;
}
.cote-droit{
    width: 49%;
    height: 70%;
    border-radius: 1vw;
}
.me-service{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block-service{
    padding: 1.3vw;
    width: 49.5%;
    height: 40vw;
    background: var(--bg1);
    transition: var(--transition-fast);
    border-radius: .5vw;
    border: 1px  solid gray;
    box-shadow: inset 1px 1px 3px #666d;
    overflow: hidden;
}
.bg-service{
    display: block;
    width: 15vw;
    height: 15vw;
    margin-top: 8.5vw;
    margin-left: -6vw;
    filter: brightness(50%);
    background: none;
}
.mes-service{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 12vw;
    height: 2.2vw;
    border: none;
    border-radius: .5vw;
    font-size: 1.3vw;
    background: var(--bg2);
    color: var(--text);
    position: absolute;
}
.logo-service{
    width: 1.5vw;
    height: 1.5vw;
    background: none;
    margin-top: .2vw;
}
.mes-contacts{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 9vw;
    height: 2.2vw;
    border: none;
    border-radius: .5vw;
    font-size: 1.3vw;
    color: var(--text);
    background: var(--bg2);
    position: absolute;
}
.fa-clone{
    color: pink;
    background: linear-gradient(rgb(98, 79, 79),rgb(10, 5, 109));
}
.titre{
    padding: 5vw 0 0 0;
    font-size: 17px;
    color: var(--text);
    transition: var(--transition-fast);
}
.but-servises{
    font-size: 14px;
    margin-top: 1vw;
    color: var(--text);
    transition: var(--transition-fast);
}
.bouton-service{
    width: 30%;
    gap: 1.5vw;
    margin-top: 1.5vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    z-index: 2;
}
.but{
    font-size: 12px;
    border: none;
    height: 2vw;
    border-radius: .5vw;
}
.developpement{
    font-size: 1.2vw;
    border: none;
    height: 2.5vw;
    width: 13vw;
    border-radius: .5vw;
    color: var(--text);
    background: var(--bg2);
    transition: var(--transition-fast);
}
.Refonte{
    font-size: 1.2vw;
    border: none;
    height: 2.5vw;
    color: var(--text);
    background: var(--bg2);
    transition: var(--transition-fast);
    width: 6vw;
    border-radius: .5vw;
}
.test{
    font-size: 1.2vw;
    border: none;
    height: 2.5vw;
    color: var(--text);
    background: var(--bg2);
    width: 10vw;
    transition: var(--transition-fast);
    border-radius: .5vw;
}
.performance{
    font-size: 1.2vw;
    border: none;
    height: 2.5vw;
    color: var(--text);
    background: var(--bg2);
    width: 9vw;
    transition: var(--transition-fast);
    border-radius: .5vw;
}
.acces{
    font-size: 1.2vw;
    border: none;
    height: 2.5vw;
    color: var(--text);
    background: var(--bg2);
    width: 8.5vw;
    border-radius: .5vw;
    transition: var(--transition-fast);
}
.solutions{
    font-size: 1.2vw;
    border: none;
    height: 2.5vw;
    color: var(--text);
    background: var(--bg2);
    transition: var(--transition-fast);
    width: 10.5vw;
    border-radius: .5vw;
}
.motivation-service{
    width: 49.5%;
    height: 40vw;
    overflow: hidden;
    background: var(--bg1);
    transition: var(--transition-fast);
    border-radius: .5vw;
    border: 1px  solid gray;
    box-shadow: inset 1px 1px 3px #666d;
}
.lets-go{
    color: var(--text);
    width: 100%;
    height: 50%;
    background: url(Image/bg.png);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 1px 1px 3px #666d;
    overflow: hidden;
}
.go-motive{
    width: 20vw;
    height: 20vw;
    margin: 3.9vw 1vw;
}
.texte-motivation{
    background: var(--bg);
    height: 50%;
}
.intention{
    color: var(--text);
    font-size: 1.5vw;
    padding: 1vw 1vw 0 1vw;
    transition: var(--transition-fast);
}
.intentions{
    color: var(--text);
    font-size: 14px;
    padding: 0 0 0 1vw;
    transition: var(--transition-fast);
}
.important{
    color: var(--texte);
}
.contact{
    width: 100%;
    height: 51vw;
    background: var(--bg1);
    transition: var(--transition-fast);
    border-radius: 1vw;
    margin-top: 1vw;
    padding: 1vw;
    border: 1px  solid gray;
    box-shadow: inset 1px 1px 3px #666d;
}
.fa-database{
    height: 1.5vw;
    width: 1.5vw;
}
h2{
    font-size: 18px;
    margin: 7vw auto 2vw auto;
    text-align: center;
    color: var(--text);
    transition: var(--transition-fast);
}
.message{
    text-align: center;
    font-size: 14px;
    color: var(--text);
    transition: var(--transition-fast);
}
.moyen-contact{
    gap: 2vw;
    margin: 2.5vw 0 0 8vw;
    display: inline-flex;
    align-items: center;
}
.my-cv{
    width: 13vw;
    height: 2.5vw;
    border: none;
    padding: 0.5vw;
    border-radius: .5vw;
    background: var(--texte);
    color: var(--text);
    outline: none;
    text-decoration: none;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.email-envoyé{
    width: 15vw;
    height: 2.5vw;
    border: 1px solid white;
    padding: 0.5vw;
    border-radius: .5vw;
    outline: none;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: var(--text);
    background: var(--bg2);
}
.email{
    color: var(--text);
    margin: 4vw 0 0 15vw;
    transition: 1s;
}
.numero-yas{
    color: var(--text);
    margin: 1vw 0 0 19vw;
    font-size: 12px;
    font-weight: bold;
    transition: 1s;
}
.email:hover{
    color: var(--texte);
    margin-right: 15vw;
    transform: scale(1.5);
}
.numero-yas:hover{
    color: var(--texte);
    margin-right: 15vw;
    transform: scale(1.5);
}
.numero:hover{
    color: var(--texte);
    margin-right: 15vw;
    transform: scale(1.5);
}
.numero{
    color: var(--text);
    margin: .5vw 0 0 19vw;
    font-size: 12px;
    font-weight: bold;
    transition: 1s;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13vw;
}
.myphoto{
    width: 13vw;
    height: 13vw;
    border-radius: 2vw 0 1vw 0;
    margin: 4.5vw -1vw 0 0;
    filter: brightness(30%);
}
.reseausociaux{
    display: block;
    height: 100%;
    width: 2vw;
    margin-top: -1vw;
}
.fa-facebook {
    margin-top: 1.5vw;
    color: var(--text);
    transition: var(--transition-fast);
}
.fa-whatsapp  {
    margin-top: 1.5vw;
    color: var(--text);
    transition: var(--transition-fast);
}
.fa-linkedin-in {
    margin-top: 1.5vw;
    color: var(--text);
    transition: var(--transition-fast);
}
.fa-twitter {
    margin-top: 1.5vw;
    color: var(--text);
    transition: var(--transition-fast);
}

.aurevoir{
    font-size: 2vw;
    position: absolute;
    padding-top: 6.5vw;
    margin-left: -3vw;
    color: var(--texta);
    transform: rotate(-20deg);
    z-index: 1;
    font-family: slogan;
}

@media(max-width:768px){
button:hover{
    height: 7vw;
    color: #ec4899;
    transform: scale(1.2);
    border: 2px solid rgba(99, 102, 241, 0.3);
}
.developpement:hover{
    color: #ec4899;
    transform: scale(1.1);
    border: 2px solid rgba(99, 102, 241, 0.3);
}
.mes-service:hover{
    color: #ec4899;
    transform: scale(1.15);
    border: 2px solid rgba(99, 102, 241, 0.3);
}
svg:hover{
    color: #ec4899;
    transform: scale(1.2);
    border: 2px solid rgba(99, 102, 241, 0.3);
}
.theme-toggle {
  color: var(--text);
  background: var(--bg2);
  box-shadow: 0 2px 8px rgba(241, 167, 38, 0.3);
  border-radius: 5vw;
  width: 15vw;
  height: 6.5vw;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: .5vw .5vw .5vw .2vw;
  position: absolute;
  margin: 3vw 0 0 80vw;
}
.theme-toggle span {
  transition: transform 0.3s;
  background: var(--bgtg);
  border-radius: 50%;
  height: 6vw;
  color: var(--textetg);
  width: 6vw;
  font-size: 5vw;
}
.theme-toggle span i{
  margin: .5vw;
}
.theme-toggle.dark span {
  transform: translateX(8vw);
}    

body{
    display: block;
    background-color: var(--bg);
    padding: .5vw;
    transition: var(--transition-fast);
    user-select: none;
}
.profile{
    width: 99%;
    height: 665vw;
    background: var(--bg1);
    border-radius: 1vw;
    padding: 2vw;
    color: white;
    border: 1px  solid gray;
    margin: .5vw 0 .5vw .5vw;
    transition: var(--transition-fast);
}
.logo{
    gap: 52vw;
    display: flex;
    align-items: center;
    padding: 1vw;
    position: relative;
}
.layer-group{
    width: 4.5vw;
    height: 4.5vw;
    background: none;
}
.logo-controls {
    display: flex;
    gap: .5vw;
    align-items: center;
}

.Portfolio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 28vw;
    height: 6vw;
    border: none;
    border-radius: 1.5vw;
    font-size: 4vw;
    background-color: var(--bg2);
    color: var(--text);
    transition: var(--transition-fast);
    position: absolute;
    margin-top: 3vw;
}
.my-pictire{
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    display: block;
    margin: 12vw auto 2vw auto;
}
h1{
    font-size: 5vw;
    text-align: center;
    color: var(--text);
    transition: var(--transition-fast);
}
.introduction{
    width: 70%;
    margin: 4vw auto 8vw auto;
    font-size: 4vw;
    text-align-last: center;
    color: var(--text);
    text-align: justify;
    transition: var(--transition-fast);
}
.fa-bootstrap{
    color: var(--texte);
    transition: var(--transition-fast);
    font-size: 8vw;
}
.fa-figma{
    font-size: 8vw;
    color: var(--texte);
    transition: var(--transition-fast);
}
.fa-react{
    font-size: 8vw;
    color: var(--texte);
    transition: var(--transition-fast);
}
.fa-node-js{
    font-size: 8vw;
    color: var(--texte);
    transition: var(--transition-fast);
}
.fa-laravel{
    font-size: 8vw;
    color: var(--texte);
    transition: var(--transition-fast);
}
.postman{
    font-size: 8vw;
    color: var(--texte);
    transition: var(--transition-fast);
}
.a-propos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 8vw;
}
.projet{
    display: block;
    margin-left: 5%;
}
.box1{
    width: 100%;
    height: 100%;
}
.boite1{
    width: 95%;
    height: 165vw;
    border-radius: 5vw;
    border: 3px solid var(--bgtg);
    margin-bottom: 10vw;
}
.boite2{
    width: 95%;
    height: 165vw;
    border-radius: 5vw;
    border: 3px solid var(--bgtg);
    margin-bottom: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}
.verslien2{
    display: block;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: 5s;
    font-size: 6vw;
    transform: rotateX(180deg);
}
.logo_projet{
    background-image: url(Image/black.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
}
.logo_projet1{
    background-image: url(Image/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
}
.logo_projet2{
    background-image: url(Image/a.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
}
.verslien1{
    font-size: 6vw;
    display: none;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vw;
    transition: all 1s;
    transform: translateX(-170%);
}
.boite1:hover .verslien1 {
    gap: 5vw;
    display: flex;
  transform: translateX(0);
}
.boite1:hover .box1 {
  transform: translateX(-122%);
}
.boite2:hover .verslien2 {
    margin: 3vw;
    gap: -2vw;
    display: flex;
  transform: rotateX(0);
}
.boite2:hover .box2 {
  transform: rotateX(-180deg);
}
.boite3{
    width: 95%;
    height: 165vw;
    border-radius: 5vw;
    border: 3px solid var(--bgtg);
    margin-bottom: 10vw;
}
.verslien3{
    display: none;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vw;
    transition: all 4s;
    font-size: 6vw;
    transform: translateX(175%);
}
.boite3:hover .verslien3 {
    gap: 5vw;
    display: flex;
  transform: translateX(0);
}
.boite3:hover .box3 {
  transform: translateX(112vw);
}
.box1{
    background: url(preuve/Makipay.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7vw;
    transform: none;
    width: 96%;
    height: 99%;
    margin-top: 1vw;
    margin-left: 2vw;
}
.dark .calque{
    display: none;
    }
.dark .calque1{
    display: none;
    }
.botom{
    margin-left: -15vw;
    margin-top: -40vw;
    width: 250%;
    height: 100vw;
}
.projet-img{
    width: 99%;
    height: 90%;
    object-fit: initial;
    display: block;
}
.box2{
    background:url(preuve/Moneyclaire\ \(2\).png);
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid var(--bgtg);
    border-radius: 17vw;
    transform: none;
    width: 96%;
    height: 99%;
    margin-top: 1vw;
    margin-left: 2vw;
}
.box3{
    background:url(preuve/voyage.png);
    background-position: center;
    border: 1px solid var(--bgtg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7vw;
    transform: none;
    width: 96%;
    height: 99%;
    margin-top: 1vw;
    margin-left: 2vw;
}
.verslien{
    display: none;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vw;
}
.marche{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3vw 0 0 0;
    color: #1e293b;
}
.next{
    display: none;
}
.cote-droit{
    width: 99%;
    height: 100%;
    border-radius: 2vw;
    margin: .5vw 0 .5vw .5vw;
}
.me-service{
    display: block;
}
.block-service{
    padding: 3vw;
    width: 100%;
    height: 68vw;
    border-radius: 1vw;
    border: 1px  solid gray;
    background: var(--bg1);
    transition: var(--transition-fast);
}
.mes-service{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 34vw;
    height: 6vw;
    border: none;
    border-radius: 1.5vw;
    font-size: 4vw;
    background: var(--bg2);
    color: var(--text);
}
.logo-service{
    width: 4vw;
    height: 4vw;
    background: none;
    margin-top: .2vw;
}
.mes-contacts{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 24vw;
    height: 6vw;
    border: none;
    border-radius: 1.5vw;
    font-size: 4vw;
    color: var(--text);
    background: var(--bg2);
}
.fa-clone{
    color: pink;
    background: linear-gradient(rgb(98, 79, 79),rgb(10, 5, 109));
}
.titre{
    padding: 8vw 0 0 0;
    font-size: 7vw;
    color: var(--text);
    transition: var(--transition-fast);
}
.but-servises{
    font-size: 4vw;
    margin-top: 2vw;
    color: var(--text);
    transition: var(--transition-fast);
}
.bouton-service{
    width: 100%;
    gap: 2vw;
    margin: 7vw 0 .5vw 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.bg-service{
    display: block;
    width: 30vw;
    height: 30vw;
    margin-top: 11vw;
    margin-left: -6vw;
    filter: brightness(50%);
    background: none;
}
.but{
    font-size: 3.5vw;
    border: none;
    height: 8vw;
    border-radius: 1.5vw;
}
.developpement{
    font-size: 3.5vw;
    border: none;
    height: 6vw;
    color: var(--text);
    background: var(--bg2);
    transition: var(--transition-fast);
    width: 40vw;
    border-radius: 1.5vw;
}
.Refonte{
    font-size: 3.5vw;
    border: none;
    height: 6vw;
    color: var(--text);
    background: var(--bg2);
    transition: var(--transition-fast);
    width: 17vw;
    border-radius: 1.5vw;
}
.test{
    font-size: 3.5vw;
    border: none;
    height: 6vw;
    color: var(--text);
    background: var(--bg2);
    transition: var(--transition-fast);
    width: 30vw;
    border-radius: 1.5vw;
}
.performance{
    font-size: 3.5vw;
    border: none;
    height: 6vw;
    color: var(--text);
    background: var(--bg2);
    transition: var(--transition-fast);
    width: 24vw;
    border-radius: 1.5vw;
}
.acces{
    font-size: 3.5vw;
    border: none;
    height: 6vw;
    color: var(--text);
    background: var(--bg2);
    transition: var(--transition-fast);
    width: 23vw;
    border-radius: 1.5vw;
}
.solutions{
    font-size: 3.5vw;
    border: none;
    height: 6vw;
    color: var(--text);
    background: var(--bg2);
    transition: var(--transition-fast);
    width: 35vw;
    border-radius: 1.5vw;
}
.motivation-service{
    width: 99%;
    height: 86vw;
    border-radius: 1.5vw;
    border: 1px  solid gray;
    margin: 1.5vw 0 1.5vw .7vw;
    background: var(--bg1);
    transition: var(--transition-fast);
}
.lets-go{
    overflow: hidden;
    width: 100%;
    height: 50%;
    text-align: center;
    transition: var(--transition-fast);
    border-radius: 1.5vw 1.5vw 0 0;
}
.go-motive{
    width: 47vw;
    height: 47vw;
}
.texte-motivation{
    padding: 1.5vw;
    margin-top: -.5vw;
    background: var(--bg);
    height: 50%;
}
.intention{
    color: var(--text);
    font-size: 4.5vw;
    margin: 1Vw 2vw 0 2vw;
    transition: var(--transition-fast);
    flex-wrap: wrap;
}
.intentions{
    color: var(--text);
    font-size: 4.5vw;
    transition: var(--transition-fast);
    padding-left: 2vw;
    flex-wrap: wrap;
    text-align: justify;    
}
.important{
    color: var(--texte);
    font-size: 4.5vw;
    transition: var(--transition-fast);
    flex-wrap: wrap;
}
.contact{
    width: 99%;
    padding: 4vw;
    height: 147vw;
    margin-top: .5vw;
    margin-left: .7vw;
    border-radius: 1.5vw;
    background: var(--bg1);
    transition: var(--transition-fast);
}
.fa-database{
    height: 3vw;
    width: 3vw;
}
h2{
    font-size: 4.5vw;
    margin: 12vw auto 2vw auto;
    text-align: center;
    color: var(--text);
    transition: var(--transition-fast);
}
.message{
    text-align: center;
    font-size: 4vw;
    color: var(--text);
    transition: var(--transition-fast);
}
.moyen-contact{
    gap: 4vw;
    margin: 6vw 0 0 2vw;
    display: inline-flex;
    align-items: center;
}
.my-cv{
    width: 38vw;
    height: 6vw;
    border: none;
    border-radius: 1.5vw;
    outline: none;
    text-decoration: none;
    font-size: 4vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--texte);
    color: var(--text);
}
.email-envoyé{
    width: 42vw;
    height: 6vw;
    border: 1px solid white;
    border-radius: 1.5vw;
    color: white;
    outline: none;
    background: rgb(43, 42, 42);
    font-size: 4vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}
.email{
    color: var(--text);
    font-size: 6vw;
    margin-top: 6vw;
    transition: 1s;
}
.email:hover{
    transform: scale(1.1);
}
.ma-numero{
    text-align: center;
    margin-left: -30vw;
}
.numero-yas{
    color: var(--text);
    font-size: 3.5vw;
    font-weight: bold;
    margin-top: 3vw;
    text-align: center;
    transition: 1s;
}
.numero-yas:hover{
    transform: scale(1.5);
}
.numero{
    color: var(--text);
    font-size: 4vw;
    transition: 1s;
    font-weight: bold;
    text-align: center;
    margin-top: 1vw;
}
.numero:hover{
    transform: scale(1.5);
}
.footer{
    display: block;
    justify-content: center;
    align-items: space-between;
    width: 100%;
}
.myphoto{
    width: 100%;
    height: 43.5vw;
    border-radius: 2vw;
}
.reseausociaux{
    height: 100%;
    width: 8vw;
    display: flex;
    align-items: center;
    gap: 20vw;
    margin: 4vw 0 0 6vw;
}
.fa-facebook {
    font-size: 6vw;
    color: var(--text);
    transition: var(--transition-fast);
}
.fa-whatsapp  {
    font-size: 6vw;
    color: var(--text);
    transition: var(--transition-fast);
}
.fa-linkedin-in {
    font-size: 6vw;
    color: var(--text);
    transition: var(--transition-fast);
}
.fa-twitter {
    font-size: 6vw;
    color: var(--text);
    transition: var(--transition-fast);
}
.aurevoir{
    font-size: 9vw;
    position: absolute;
    padding-top: 20vw;
    margin-left: 10vw;
    color: var(--texta);
    transform: rotate(-20deg);
    z-index: 1;
}
 }


@media(min-width:1200px) {
 body{
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding: .5vw;
    background: var(--bg);
    transition:  0.5s;
    user-select: none;
}
.profile{
    width: 49%;
    height: 96vw;
    background: var(--bg1);
    transition: var(--transition-fast);
    border-radius: 1vw;
    color: white;
    border: 1px  solid gray;
    box-shadow: inset 0px 0px 7px #666d;
}
.logo{
    gap: 30vw;
    position: relative;
    display: flex;
    align-items: center;
    padding: 1vw;
}
.layer-group{
    width: 1.5vw;
    height: 1.5vw;
    background: none;
}
.Portfolio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 9.5vw;
    height: 2.2vw;
    border: none;
    border-radius: .5vw;
    font-size: 1.3vw;
    background-color: var(--bg2);
    color: var(--text);
    transition: var(--transition-fast);
}
.my-pictire{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    display: block;
    margin: 12vw auto 2vw auto;
}
h1{
    font-size: 3vw;
    text-align: center;
    color: var(--text);
    transition: var(--transition-fast);
}
.introduction{
    width: 80%;
    margin: 2vw auto 4vw auto;
    font-size: 2vw;
    text-align-last: center;
    color: var(--text);
    transition: var(--transition-fast);
}
.fa-bootstrap{
    font-size: 2vw;
    color: var(--texte);
    transition: var(--transition-fast);
}
.fa-figma{
    font-size: 2vw;
    color: var(--texte);
    transition: var(--transition-fast);
}
.fa-react{
    font-size: 2vw;
    color: var(--texte);
    transition: var(--transition-fast);
}
.fa-node-js{
    font-size: 2vw;
    color: var(--texte);
    transition: var(--transition-fast);
}
.fa-laravel{
    font-size: 2vw;
    color: var(--texte);
    transition: var(--transition-fast);
}
.postman{
    font-size: 2vw;
    color: var(--texte);
    transition: var(--transition-fast);
}
svg{
    width: 3vw;
    height: 3vw;
}
.a-propos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.projet{
    gap: 1vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 4vw 0 0 0;
}
.marche{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3vw 0 0 0;
    color: var(--bg-color);
    transition: var(--transition-fast);
}
.cote-droit{
    width: 49%;
    height: 70%;
    border-radius: 1vw;
}
.me-service{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.block-service{
    padding: 1vw;
    width: 49.5%;
    height: 45vw;
    background: var(--bg1);
    transition: var(--transition-fast);
    border-radius: .5vw;
    border: 1px  solid gray;
    box-shadow: inset 1px 1px 3px #666d;
}
.mes-service{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 12vw;
    height: 2.2vw;
    border: none;
    border-radius: .5vw;
    font-size: 1.3vw;
    background: var(--bg2);
    color: var(--text);
}
.logo-service{
    width: 1.5vw;
    height: 1.5vw;
    background: none;
    margin-top: .2vw;
}
.mes-contacts{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 9vw;
    height: 2.2vw;
    border: none;
    border-radius: .5vw;
    font-size: 1.3vw;
    color: var(--text);
    background: var(--bg2);
}
.fa-clone{
    color: pink;
    background: linear-gradient(rgb(98, 79, 79),rgb(10, 5, 109));
}
.titre{
    padding: 6vw 0 0 0;
    font-size: 2.3vw;
    color: var(--text);
    transition: var(--transition-fast);
}
.but-servises{
    font-size: 1.7vw;
    margin-top: 1vw;
    color: var(--text);
    transition: var(--transition-fast);
}
.bouton-service{
    gap: 1.5vw;
    margin-top: 5vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.but{
    font-size: 12px;
    border: none;
    height: 2vw;
    border-radius: .5vw;
}
.bg-service{
    display: block;
    width: 19vw;
    height: 19vw;
    margin-top: 13vw;
    margin-left: -8vw;
    filter: brightness(50%);
    background: none;
}
.developpement{
    font-size: 1.2vw;
    border: none;
    height: 2.5vw;
    width: 13vw;
    border-radius: .5vw;
    color: var(--text);
    background: var(--bg2);
    transition: var(--transition-fast);
}
.Refonte{
    font-size: 1.2vw;
    border: none;
    height: 2.5vw;
    color: var(--text);
    background: var(--bg2);
    transition: var(--transition-fast);
    width: 6vw;
    border-radius: .5vw;
}
.test{
    font-size: 1.2vw;
    border: none;
    height: 2.5vw;
    color: var(--text);
    background: var(--bg2);
    width: 10vw;
    transition: var(--transition-fast);
    border-radius: .5vw;
}
.performance{
    font-size: 1.2vw;
    border: none;
    height: 2.5vw;
    color: var(--text);
    background: var(--bg2);
    width: 9vw;
    transition: var(--transition-fast);
    border-radius: .5vw;
}
.acces{
    font-size: 1.2vw;
    border: none;
    height: 2.5vw;
    color: var(--text);
    background: var(--bg2);
    width: 8.5vw;
    border-radius: .5vw;
    transition: var(--transition-fast);
}
.solutions{
    font-size: 1.2vw;
    border: none;
    height: 2.5vw;
    color: var(--text);
    background: var(--bg2);
    transition: var(--transition-fast);
    width: 10.5vw;
    border-radius: .5vw;
}
.motivation-service{
    width: 49.5%;
    height: 45vw;
    background: var(--bg1);
    transition: var(--transition-fast);
    border-radius: .5vw;
    border: 1px  solid gray;
    box-shadow: inset 1px 1px 3px #666d;
}
.lets-go{
    margin: auto 0;
    width: 100%;
    height: 50%;
    border-radius: .5vw .5vw 0 0;
    box-shadow: inset 1px 1px 3px #666d;
}
.go-motive{
    width: 20vw;
    height: 20vw;
}
.texte-motivation{
    padding: .5vw;
    background: var(--bg);
    height: 50%;
}
.intention{
    color: var(--text);
    font-size: 1.7vw;
    padding: 1vw 1vw 0 1vw;
    transition: var(--transition-fast);
}
.intentions{
    color: var(--text);
    font-size: 1.7vw;
    padding: 0 0 0 1vw;
    transition: var(--transition-fast);
}
.important{
    color: var(--texte);
    font-size: 1.7vw;
}
.contact{
    width: 100%;
    height: 50vw;
    background: var(--bg1);
    transition: var(--transition-fast);
    border-radius: 1vw;
    margin-top: 1vw;
    padding: 1vw;
    border: 1px  solid gray;
    box-shadow: inset 1px 1px 3px #666d;
}
.fa-database{
    height: 1.5vw;
    width: 1.5vw;
}
h2{
    font-size: 2vw;
    margin: 8vw auto 2vw auto;
    text-align: center;
    color: var(--text);
    transition: var(--transition-fast);
}
.message{
    text-align: center;
    font-size: 1.8vw;
    color: var(--text);
    transition: var(--transition-fast);
}
.moyen-contact{
    gap: 2vw;
    margin: 3vw 0 0 6vw;
    display: inline-flex;
    align-items: center;
}
.my-cv{
    width: 17vw;
    height: 2.5vw;
    border: none;
    padding: 0.5vw;
    border-radius: .5vw;
    background: var(--texte);
    color: var(--text);
    outline: none;
    text-decoration: none;
    font-size: 1.7vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.email-envoyé{
    width: 18vw;
    height: 2.5vw;
    border: 1px solid white;
    padding: 0.5vw;
    border-radius: .5vw;
    outline: none;
    font-size: 1.7vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: var(--text);
    background: var(--bg2);
}
.email{
    font-size: 2.3vw;
    color: var(--text);
    transition: 1s;
}
.numero-yas{
    color: var(--text);
    font-size: 1.7vw;
    font-weight: bold;
    transition: 1s;
}
.numero{
    color: var(--text);
    font-size: 1.7vw;
    font-weight: bold;
    transition: 1s;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13vw;
}
.myphoto{
    width: 15vw;
    height: 13vw;
    margin: 3.5vw 0 0 1vw;
    background: greenyellow;
}
.reseausociaux{
    display: block;
    height: 100%;
    width: 2vw;
    margin-top: 2vw;
}
.fa-facebook {
    margin-top: 1.5vw;
    color: var(--texte);
    transition: var(--transition-fast);
}
.fa-whatsapp  {
    margin-top: 1.5vw;
    color: var(--texte);
    transition: var(--transition-fast);
}
.fa-linkedin-in {
    margin-top: 1.5vw;
    color: var(--texte);
    transition: var(--transition-fast);
}
.fa-twitter {
    margin-top: 1.5vw;
    color: var(--texte);
    transition: var(--transition-fast);
}
.aurevoir{
    font-size: 2vw;
    position: absolute;
    padding-top: 8vw;
    margin-left: -1vw;
    color: var(--texta);
    transform: rotate(-20deg);
    z-index: 1;
}
.boite1{
    width: 32%;
    height: 30vw;
    border-radius: .5vw;
    border: 1px solid var(--bgtg);
}
.boite2{
    width: 32%;
    height: 30vw;
    border-radius: .5vw;
    border: 1px solid var(--bgtg);
}
.boite3{
    width: 32%;
    height: 30vw;
    border-radius: .5vw;
    border: 1px solid var(--bgtg);
}
.box1{
    background: url(preuve/Makipay.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: .1vw;
    margin-top: 2vw;
    border-radius: .8vw;
    width: 85%;
    height: 26vw;
    transform: rotate(5deg);
}
.calque{
    position: absolute;
    width: 3vw;
    height: 35vw;
    margin-top: .3vw;
    left: 1vw;
    z-index: 1;
}
.calque1{
    position: absolute;
    width: 3vw;
    height: 35vw;
    margin-top: .5vw;
    right: 50.5%;
}
.botom{
    margin-left: -15vw;
    margin-top: -40vw;
    width: 250%;
    height: 90vw;
}
.projet-img{
    width: 99%;
    height: 90%;
    object-fit: initial;
    display: block;
}
.box2{
    background:url(preuve/Moneyclaire\ \(2\).png);
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid var(--bgtg);
    border-radius: 2.4vw;
    width: 100%;
    height: 29vw;
    margin-top: .5vw;
}
.box3{
    background:url(preuve/voyage.png);
    background-position: center;
    border: 1px solid var(--bgtg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1vw;
    margin-top: .5vw;
    margin-left: .2vw;
    width: 98%;
    height: 29vw;
}
.name{
    text-decoration: none;
    color: var(--text);
}
.verslien{
    display: none;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vw;
    transition: all 1s;
    transform: translateX(-0%);
}
.boite1:hover .verslien {
    display: flex;
  transform: translateX(0);
}

.boite1:hover .box1 {
  transform: translateX(-112%);
}
}